<?xml version="1.0" encoding="UTF-8"?>
<plugin 
	xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="ch.theelysianfields.cordova.plugin.statusbar"
    version="1.0.0">

	<name>StatusBarColor</name>
	<description>Set color of statusbar on Lollipop-Versions of Android.</description>
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>    

	<js-module src="www/statusbar.js" name="statusbar">
		<clobbers target="window.statusbarColor" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="StatusBarColor">   
				<param name="android-package" value="ch.theelysianfields.cordova.plugin.statusbar.StatusBarColor" />
			</feature>
		</config-file>
		
		<source-file src="src/android/StatusBarColor.java" target-dir="src/ch/theelysianfields/cordova/plugin/statusbar" />
	</platform>
</plugin>   
    